<div class="container py-4 mb-3">
    <h1 class="fs-4 fw-bold text-center mb-5">Get in touch<div class="line"><span class="bg-secondary rounded"></span><span class="unique rounded"></span><span class="bg-secondary rounded"></span></div></h1>
    
    <div class="contact rounded d-flex">
        <div class="info">
            <h2 class="fs-6 fw-bold mb-3">Contact info</h2>
            <ul class="contact-info mb-5 p-0">
                <li class="mb-3">
                    <i class="fs-4 fa-regular fa-envelope ms-3"></i><strong>{{ email }}</strong>
                </li>

                <li class="mb-3">
                    <i class="fs-4 fa-solid fa-phone ms-3"></i><strong>{{ phone }}</strong>
                </li>

                <li class="mb-3">
                    <i class="fs-4 fa-solid fa-location-dot ms-3"></i><strong>{{ address }}</strong>
                </li>
            </ul>

            <h2 class="fs-6 fw-bold mb-3">Social media</h2>
            <ul class="social p-0">
                <li>
                    <a href="#"><i class="fs-1 me-3 fa-brands fa-linkedin"></i></a>
                </li>

                <li>
                    <a href="#"><i class="fs-1 me-3 fa-brands fa-facebook"></i></a>
                </li>

                <li>
                    <a href="#"><i class="fs-1 fa-regular fa-envelope"></i></a>
                </li>
            </ul>
        </div>
        <form class="rounded form-group">
            <h1 class="fs-5 mb-4">Send me a <span>message</span></h1>
            <input type="text" name="name" placeholder="your name" class="form-control mb-3">
            <input id="email" name="email" type="email" placeholder="your email" class="form-control mb-3">

            <textarea name="message" placeholder="message" class="form-control mb-3" id="message"></textarea>

            <button class="btn my-btn"><span>Send</span></button>
        </form>
    </div>
</div>