<div class="container py-4 mb-3">
    <h1 class="fs-4 fw-bold text-center mb-5">Porftfolio<div class="line"><span class="bg-secondary rounded"></span><span class="unique rounded"></span><span class="bg-secondary rounded"></span></div></h1>
    <div class="row">
        <div class="bg-primary item-1">1</div>
        <div class="bg-dark">2</div>
        <div class="bg-info">3</div>
        <div class="bg-danger">4</div>
        <div class="bg-warning">5</div>
        <div class="bg-secondary">6</div>
    </div>
</div>