<div id="portfolio" class="container mb-3">
    <h1 class="fs-4 fw-bold text-center mb-5">Portfolio<div class="line"><span class="bg-secondary rounded"></span><span class="unique rounded"></span><span class="bg-secondary rounded"></span></div></h1>
    <div class="row">
        <div class="bg-light item-1">
            <div class="cover"></div>
            <img src="assets/imgs/rendezvous.png" />
            <p class="m-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, ducimus.</p>
            <p class="m-2">
                <a href="" class="btn me-2">
                    <i class="fa-brands fa-github"></i>
                    Github
                </a>
                <a href="" class="btn px-3 me-2">
                    <i class="fa-solid fa-play"></i>
                    Demo
                </a>
            </p>
        </div>
        <div class="bg-light item-2">
            <div class="cover"></div>
            <img src="assets/imgs/portfolio.png"/>
            <p class="m-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, ducimus.</p>
            <p class="m-2">
                <a href="" class="btn me-2">
                    <i class="fa-brands fa-github"></i>
                    Github
                </a>
                <a href="" class="btn px-3 me-2">
                    <i class="fa-solid fa-play"></i>
                    Demo
                </a>
            </p>
        </div>
        <div class="bg-light item-3">
            <div class="cover"></div>
            <img src="assets/imgs/mvola.png"/>
            <p class="m-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, ducimus.</p>
            <p class="m-2">
                <a href="" class="btn me-2">
                    <i class="fa-brands fa-github"></i>
                    Github
                </a>
                <a href="" class="btn px-3 me-2">
                    <i class="fa-solid fa-play"></i>
                    Demo
                </a>
            </p>
        </div>
        <div class="bg-light item-4">
            <div class="cover"></div>
            <img src="assets/imgs/gemini.png"/>
            <p class="m-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, ducimus.</p>
            <p class="m-2">
                <a href="" class="btn me-2">
                    <i class="fa-brands fa-github"></i>
                    Github
                </a>
                <a href="" class="btn px-3 me-2">
                    <i class="fa-solid fa-play"></i>
                    Demo
                </a>
            </p>
        </div>
        <div class="bg-light item-5">
            <div class="cover"></div>
            <img src="assets/imgs/api.png"/>
            <p class="m-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, ducimus.</p>
            <p class="m-2">
                <a href="" class="btn me-2">
                    <i class="fa-brands fa-github"></i>
                    Github
                </a>
                <a href="" class="btn px-3 me-2">
                    <i class="fa-solid fa-play"></i>
                    Demo
                </a>
            </p>
        </div>
        <div class="bg-light item-6">
            <div class="cover"></div>
            <img src="assets/imgs/quiz.png"/>
            <p class="m-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, ducimus.</p>
            <p class="m-2">
                <a href="" class="btn me-2">
                    <i class="fa-brands fa-github"></i>
                    Github
                </a>
                <a href="" class="btn px-3 me-2">
                    <i class="fa-solid fa-play"></i>
                    Demo
                </a>
            </p>
        </div>
    </div>
</div>