
<header [ngClass]="{'show': show}">
    @if(show) {
        <i (click)="onClick()" class="fs-1 fa-solid fa-xmark"></i>
    } @else {
        <i (click)="onClick()" class="fs-1 fa-solid fa-bars"></i>
    }

    <div class="logo">
        <span>Happy</span> Coder
    </div>

    <ul class="py-2">
        <a href="#home" (click)="onClickNav('home')" [ngClass]="{'active': activeLink == 'home'}"><li class="p-0 active rounded-pill">Home</li></a>
        <a href="#services" (click)="onClickNav('services')" [ngClass]="{'active': activeLink == 'services'}"><li class="py-2 px-3 rounded-pill">Services</li></a>
        <a href="#portfolio" (click)="onClickNav('portfolio')" [ngClass]="{'active': activeLink == 'portfolio'}"><li class="py-2 px-3 rounded-pill">Portfolio</li></a>
        <a href="#contact" (click)="onClickNav('contact')" [ngClass]="{'active': activeLink == 'contact'}"><li class="py-2 px-3 rounded-pill">Contact</li></a>
    </ul>
</header>