<div class="container py-4">
    <h1 class="fs-4 fw-bold text-center">My Resume<div class="line"><span class="bg-secondary rounded"></span><span class="unique rounded"></span><span class="bg-secondary rounded"></span></div></h1>
    <div class="row d-flex justify-content-between gap-3 position-relative">
        <div class="nav rounded-pill">
            <ul class="py-2 px-0">
                <li (click)="onClick('exp')" [ngClass]="{'active': type == 'exp'}" class="rounded-pill px-4 py-2"><a href="#experiences"><span>Experiences</span></a></li>
                <li (click)="onClick('edu')" [ngClass]="{'active': type == 'edu'}" class="rounded-pill px-4 py-2"><a href="#educations"><span>Educations</span></a></li>
                <li (click)="onClick('ski')" [ngClass]="{'active': type == 'ski'}" class="rounded-pill px-4 py-2"><a href="#skills"><span>Skills</span></a></li>
            </ul>
        </div>

        @if(type == "edu") {
            @for(card of educationCards; track $index) {
                <div class="content">
                    <app-card-resume [card]="card"/>
                </div>
            }
        } @else if (type == "exp") {
            @for(card of experienceCards; track $index) {
                <div class="content">
                    <app-card-resume [card]="card"/>
                </div>
            }
        } @else {
            <p>skills</p>
        }
    </div>
</div>