<section class="section container resume">
    <h2 class="section-title" data-reveal>My <span>Resume</span></h2>
    <div class="resume-panel" data-reveal style="--delay: 0.1s">
        <div class="nav">
            <ul>
                <li (click)="onClick('exp')" [ngClass]="{'active': type == 'exp'}" class="rounded-pill"><a href="#experiences"><span>Experiences</span></a></li>
                <li (click)="onClick('edu')" [ngClass]="{'active': type == 'edu'}" class="rounded-pill"><a href="#education"><span>Education</span></a></li>
                <li (click)="onClick('cert')" [ngClass]="{'active': type == 'cert'}" class="rounded-pill"><a href="#certificates"><span>Certificates</span></a></li>
            </ul>
        </div>

        @if(type == "edu") {
            @for(card of educationCards; track $index) {
                <div class="content">
                    <app-card-resume [card]="card"/>
                </div>
            }
        } @else if (type == "exp") {
            @for(card of experienceCards; track $index) {
                <div class="content">
                    <app-card-resume [card]="card"/>
                </div>
            }
        } @else {
            @for(card of certificatCards; track $index) {
                <div class="content">
                    <app-card-resume [card]="card"/>
                </div>
            }
        }
    </div>
</section>
