<div class="portfolio-card glass">
    <div class="media">
        <img [src]="card().imgUrl" alt="Aperçu du projet"/>
        <div class="overlay"></div>
    </div>
    <div class="content">
        <p>{{ card().description }}</p>
        <div class="actions">
            <a [href]="card().githubLink" class="btn" target="_blank">
                <i class="fa-brands fa-github"></i>
                Github
            </a>
            <a [href]="card().demoLink" class="btn" target="_blank">
                <i class="fa-solid fa-play"></i>
                Demo
            </a>
        </div>
    </div>
</div>
