.container {
    margin-top: 15%;
    color: white;
    
    h1 {
        position: relative;
        margin-bottom: 7%;

        .line {
            position: absolute;
            display: flex;
            left: 50%;
            bottom: -10px;
            transform: translateX(-50%);
            gap: 10px;

            span {
                display: block;
                height: 3px;
                width: 50px;
            }

            span.unique {
                width: 30px;
                filter: brightness(2.4);
                background-color: var(--bs-secondary);
            }

        }
    }

    .row {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(2, 1fr);
        place-items: center;
        gap: 20px;

        .icon {
            width: fit-content;
        }
    }
}

@media screen and (max-width: 470px) {
    .container {
        .row {
            justify-content: space-between;
        }
    }
}