.container {
    margin-top: 15%;
    color: white;
    
    h1 {
        position: relative;
        margin-bottom: 7%;

        .line {
            position: absolute;
            display: flex;
            left: 50%;
            bottom: -10px;
            transform: translateX(-50%);
            gap: 10px;

            span {
                display: block;
                height: 3px;
                width: 50px;
            }

            span.unique {
                width: 30px;
                filter: brightness(2.4);
                background-color: var(--bs-secondary);
            }

        }
    }

    .row {
        display: flex;
        justify-content: space-around;
        align-items: center;

        i {
            width: fit-content;
            font-size: 3.5rem;
            animation: clign 2s infinite;
        }

        svg {
            width: fit-content;
            animation: clign 2s infinite;
            width: 80px;
            height: 80px;
        }

        i:hover,
        svg:hover {
            color: var(--bs-secondary);
            filter: brightness(2.4);
            cursor: pointer;
            scale: 1.04;
        }
    }
}

@keyframes clign {
    0% {
        scale: 1;
    }

    50% {
        scale: 1.05;
    }

    100% {
        scale: 1;
    }
}

@media screen and (max-width: 470px) {
    .container {
        .row {
            justify-content: space-between;
        }
    }
}