<div class="main">
    <div class="text">
        <small><span class="me-2"></span>Welcome to my portfolio</small>
        <p class="me fs-2 fw-bold mb-1">Hi I am <strong>Athanase</strong> Marc</p>
        <h2 class="fs-3">Web Developer</h2>
        <p class="mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, magnam!</p>
        <p class="mb-0">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
        <p>Lorem ipsum dolor sit amet.</p>
        <div class="links">
            <button class="my-btn me-4 btn py-2 px-4 rounded-pill"><span>My resume</span></button>
            <div class="social">
                <a href="#"><i class="fs-3 me-3 fa-brands fa-linkedin"></i></a>
                <a href="#"><i class="fs-3 me-3 fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fs-3 fa-regular fa-envelope"></i></a>
            </div>
        </div>
    </div>
    
    <div class="img"></div>
</div>