.container {
    margin-top: 15%;
    color: white;

    h1 {
        position: relative;

        .line {
            position: absolute;
            display: flex;
            left: 50%;
            bottom: -10px;
            transform: translateX(-50%);
            gap: 10px;

            span {
                display: block;
                height: 3px;
                width: 50px;
            }

            span.unique {
                width: 30px;
                filter: brightness(2.4);
                background-color: var(--bs-secondary);
            }

        }
    }
    .row {

        .col-4 {
            height: fit-content;
        }
    }
}

@media screen and (max-width: 765px) {
    .container {
        .row {
            .col-4 {
                width: 50%;
            }
        }
    }
}

@media screen and (max-width: 430px) {
    .container {
        .row {
            .col-4 {
                width: 100%;
            }
        }
    }
}